In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
ICC_womens = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
ICC_womens

In [4]:
cric_w_soup = BeautifulSoup(ICC_womens.content,'html.parser')

In [5]:
w_team = cric_w_soup.find_all(['span'], class_ = "u-hide-phablet")
ODI_w_Team = []

for i in w_team:
    ODI_w_Team.append(i.text.replace("\n",""))
ODI_w_Team= ODI_w_Team[:10]
ODI_w_Team

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'Bangladesh',
 'West Indies',
 'Pakistan',
 'Ireland',
 'Sri Lanka']

In [6]:
w_title = cric_w_soup.find_all(['span'], class_ = "u-hide-mobile")
Title_w = []

for i in w_title:
    Title_w.append(i.text.replace("\n",""))
    
w_Mat = cric_w_soup.find_all(['td'], class_ = "rankings-block__banner--matches")
w_Matches= []
for i in w_Mat:
    w_Matches.append(i.text.replace("\n",""))
 
w_pts = cric_w_soup.find_all(['td'], class_ = "rankings-block__banner--points")
w_Points= []
for i in w_pts:
    w_Points.append(i.text.replace("\n",""))

In [7]:
w_rtg = cric_w_soup.find_all(['td'], class_ = "rankings-block__banner--rating u-text-right")
w_Ratings= []
for i in w_rtg:
    w_Ratings.append(i.text.replace("\n",""))
w_Ratings= [i.split('                            ')[1]for i in w_Ratings ] 

w_stat = cric_w_soup.find_all(['td'], class_ = "table-body__cell u-center-text")
w_Stats = []

for i in w_stat:
    w_Stats.append(i.text.replace("\n",""))
    
    
for i in range(0,len(w_Stats)):
    if i == 0 or  i/2 == i//2:
        w_Matches.append(w_Stats[i])    
    else:
        w_Points.append(w_Stats[i])
w_Points = w_Points[:10]
w_Matches= w_Matches[:10]

w_rat = cric_w_soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")

for i in w_rat:
    w_Ratings.append(i.text.replace("\n",""))
w_Ratings= w_Ratings[:10]

In [8]:
import pandas as pd

In [9]:
ODI_TOP_10_womens = pd.DataFrame({Title_w[0]:ODI_w_Team, Title_w[1]:w_Matches, Title_w[2]: w_Points, Title_w[3]: w_Ratings})

In [10]:
ODI_TOP_10_womens

           Team Matches Points Rating
0     Australia      20  3,263    163
1  South Africa      21  2,580    123
2       England      21  2,474    118
3         India      22  2,221    101
4   New Zealand      24  2,342     98
5    Bangladesh       5    475     95
6   West Indies      21  1,801     86
7      Pakistan      19  1,304     69
8       Ireland       5    240     48
9     Sri Lanka       5    233     47

In [11]:
ICC_Wom = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
ICC_Wom

In [12]:
player_w_soup = BeautifulSoup(ICC_Wom.content,'html.parser')

In [13]:
player_w_soup = BeautifulSoup(ICC_Wom.content,'html.parser')
nam_w = player_w_soup.find_all(['div'], class_ = "rankings-block__banner--name")
banner_name_w = []

for i in nam_w:
    banner_name_w.append(i.text.replace("\n",""))
banner_name_w

['Alyssa Healy', 'Jess Jonassen', 'Ellyse Perry']

In [16]:
nat_w = player_w_soup.find_all(['div'], class_ = "rankings-block__banner--nationality")
natt_w = []

for i in nat_w:
    natt_w.append(i.text.replace("\n",""))

rat_w = player_w_soup.find_all(['div'], class_ = "rankings-block__banner--rating")
ratt_w = []

for i in rat_w:
    ratt_w.append(i.text.replace("\n",""))
    
Batsman_name_w=[banner_name_w[0]]
Batsman_nation_w= [natt_w[0]]
Batsman_Rattings_w= [ratt_w[0]]
allrounder_name_w= [banner_name_w[-1]]
allrounder_nation_w= [natt_w[-1]]
allrounder_Rattings_w= [ratt_w[-1]]    

Nam_w = player_w_soup.find_all(['td'], class_ = "table-body__cell name")
table_names_w = []
for i in Nam_w:
    table_names_w.append(i.text.replace("\n",""))


nat1_w = player_w_soup.find_all(['span'], class_ = "table-body__logo-text")
Nat1_w = []
for i in nat1_w:
    Nat1_w.append(i.text.replace("\n",""))

rat1_w = player_w_soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")
Rat1_w = []
for i in rat1_w:
    Rat1_w.append(i.text.replace("\n",""))



for i in table_names_w[0:9]:
    Batsman_name_w.append(i)
for i in Nat1_w[0:9]:
    Batsman_nation_w.append(i)
for i in Rat1_w[0:9]:
    Batsman_Rattings_w.append(i)    
for i in table_names_w[18:27]:
    allrounder_name_w.append(i)
for i in Nat1_w[18:27]:
    allrounder_nation_w.append(i)
for i in Rat1_w[18:27]:
    allrounder_Rattings_w.append(i)

In [17]:
ODI_TOP_10_Batsman_w = pd.DataFrame({"Batsman_name_W":Batsman_name_w, "Batsman_nation_w":Batsman_nation_w, "Batsman_Rattings_w": Batsman_Rattings_w})

In [18]:
ODI_TOP_10_Batsman_w

      Batsman_name_W Batsman_nation_w Batsman_Rattings_w
0       Alyssa Healy           AUS749                749
1        Mithali Raj              IND                735
2     Tammy Beaumont              ENG                707
3        Meg Lanning              AUS                706
4        Beth Mooney              AUS                705
5        Lizelle Lee               SA                702
6  Amy Satterthwaite               NZ                700
7    Smriti Mandhana              IND                666
8    Laura Wolvaardt               SA                661
9       Ellyse Perry              AUS                661

In [19]:
ODI_TOP_10_allrounder_w = pd.DataFrame({"allrounder_name_w":allrounder_name_w, "allrounder_nation_w":allrounder_nation_w, "allrounder_Rattings_w": allrounder_Rattings_w})

In [20]:
ODI_TOP_10_allrounder_w

  allrounder_name_w allrounder_nation_w allrounder_Rattings_w
0      Ellyse Perry              AUS438                   438
1    Natalie Sciver                 ENG                   351
2    Marizanne Kapp                  SA                   327
3       Amelia Kerr                  NZ                   312
4     Deepti Sharma                 IND                   309
5   Katherine Brunt                 ENG                   273
6     Jess Jonassen                 AUS                   263
7   Stafanie Taylor                  WI                   262
8  Ashleigh Gardner                 AUS                   256
9   Hayley Matthews                  WI                   254