In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
iMDb = requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")
iMDb1 = requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt")
iMDb1, iMDb

(<Response [200]>, <Response [200]>)

In [4]:
soup1 = BeautifulSoup(iMDb.content,'html.parser')
soup2 = BeautifulSoup(iMDb1.content,'html.parser')

In [5]:
Movie1 = soup1.find_all(['h3'], class_ = "lister-item-header")
Movie_name = []

for i in Movie1:
    Movie_name.append(i.text.replace("\n",""))
Movie2 = soup2.find_all(['h3'], class_ = "lister-item-header")
for i in Movie2:
    Movie_name.append(i.text.replace("\n",""))
    
Movie_name = [i.split('.')[1] for i in Movie_name]
Movie_name = [i.split('(')[0] for i in Movie_name]

In [6]:
Rate1 = soup1.find_all(['div'], class_ = "inline-block ratings-imdb-rating")
Rate2 = soup2.find_all(['div'], class_ = "inline-block ratings-imdb-rating")
ratings = []

for i in Rate1:
    ratings.append(i.get_text().replace('\n',''))
for i in Rate2:
    ratings.append(i.get_text().replace('\n',''))    
    
len(ratings)

100

In [8]:
y1 = soup1.find_all(['span'], class_ = "lister-item-year text-muted unbold")
y2 = soup2.find_all(['span'], class_ = "lister-item-year text-muted unbold")

year = []

for i in y1:
    year.append(i.text.replace("\n",""))
for i in y2:
    year.append(i.text.replace("\n",""))
    
year = [i.split('(')[-1] for i in year] 
year = [i.split(')')[0] for i in year]

In [9]:
top_100_movies= {"Name":Movie_name, "IMDB_rating": ratings, "Year":year }
import pandas as pd
IMDB_top_100_movies = pd.DataFrame(top_100_movies)

In [10]:
IMDB_top_100_movies

                                             Name IMDB_rating  Year
0                        The Shawshank Redemption         9.3  1994
1                                   The Godfather         9.2  1972
2                                 The Dark Knight         9.1  2008
3   The Lord of the Rings: The Return of the King         9.0  2003
4                                Schindler's List         9.0  1993
..                                            ...         ...   ...
95                             North by Northwest         8.3  1959
96                                        Vertigo         8.3  1958
97                            Singin' in the Rain         8.3  1952
98                                   Citizen Kane         8.3  1941
99              M - Eine Stadt sucht einen Mörder         8.3  1931

[100 rows x 3 columns]