In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
indian_movies = requests.get("https://www.imdb.com/list/ls056092300/")
indian_movies

In [4]:
sp = BeautifulSoup(indian_movies.content,'html.parser')

In [5]:
ind_movie = sp.find_all(['h3'], class_ = "lister-item-header")
ind_movie_fullname = []

for i in ind_movie:
    ind_movie_fullname.append(i.text.replace("\n",""))
  
ind_movie_fullname = [i.split('.',1)[1] for i in ind_movie_fullname]
ind_movie_name = [i.split('(')[0] for i in ind_movie_fullname]
Year = [i.split('(')[-1] for i in ind_movie_fullname]
Year = [i.split(')')[0] for i in Year]

In [6]:
rate = sp.find_all(['div'], class_ = "ipl-rating-star small")
ratings = []

for i in rate:
    ratings.append(i.get_text().replace('\n',''))

In [7]:
import pandas as pd

In [8]:
Top_rated_100_Indianmovies=pd.DataFrame({"Name":ind_movie_name, "IMDB_rating": ratings, "Year":Year })
Top_rated_100_Indianmovies

                                 Name IMDB_rating  Year
0                     Ship of Theseus           8  2012
1                              Iruvar         8.5  1997
2                     Kaagaz Ke Phool         7.8  1959
3   Lagaan: Once Upon a Time in India         8.1  2001
4                     Pather Panchali         8.4  1955
..                                ...         ...   ...
95                        Apur Sansar         8.5  1959
96                        Kanchivaram         8.1  2008
97                    Monsoon Wedding         7.3  2001
98                              Black         8.2  2005
99                            Deewaar           8  1975

[100 rows x 3 columns]