In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
ICC = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
ICC

In [4]:
cric_soup = BeautifulSoup(ICC.content,'html.parser')

In [5]:
team = cric_soup.find_all(['span'], class_ = "u-hide-phablet")
ODI_Team = []

for i in team:
    ODI_Team.append(i.text.replace("\n",""))
ODI_Team= ODI_Team[:10]
ODI_Team

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [6]:
title = cric_soup.find_all(['span'], class_ = "u-hide-mobile")
Title = []

for i in title:
    Title.append(i.text.replace("\n",""))

Title

['Team', 'Matches', 'Points', 'Rating']

In [7]:
Mat = cric_soup.find_all(['td'], class_ = "rankings-block__banner--matches")
Matches= []
for i in Mat:
    Matches.append(i.text.replace("\n",""))

Matches

['17']

In [8]:
pts = cric_soup.find_all(['td'], class_ = "rankings-block__banner--points")
Points= []
for i in pts:
    Points.append(i.text.replace("\n",""))

Points

['2,054']

In [9]:
rtg = cric_soup.find_all(['td'], class_ = "rankings-block__banner--rating u-text-right")
Ratings= []
for i in rtg:
    Ratings.append(i.text.replace("\n",""))
Ratings= [i.split('                            ')[1]for i in Ratings ]   
Ratings

['121']

In [10]:
stat = cric_soup.find_all(['td'], class_ = "table-body__cell u-center-text")
Stats = []

for i in stat:
    Stats.append(i.text.replace("\n",""))

In [11]:
for i in range(0,len(Stats)):
    if i == 0 or  i/2 == i//2:
        Matches.append(Stats[i])    
    else:
        Points.append(Stats[i])
Points = Points[:10]
Matches= Matches[:10]

In [12]:
rat = cric_soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")

for i in rat:
    Ratings.append(i.text.replace("\n",""))
Ratings= Ratings[:10]

In [13]:
import pandas as pd

In [14]:
ODI_TOP_10 = pd.DataFrame({Title[0]:ODI_Team, Title[1]:Matches, Title[2]: Points, Title[3]: Ratings})

In [15]:
ODI_TOP_10

           Team Matches Points Rating
0   New Zealand      17  2,054    121
1       England      32  3,793    119
2     Australia      28  3,244    116
3         India      38  4,162    110
4  South Africa      28  2,943    105
5      Pakistan      27  2,524     93
6    Bangladesh      33  2,988     91
7     Sri Lanka      35  2,835     81
8   West Indies      36  2,788     77
9   Afghanistan      23  1,562     68

In [16]:
#top 10 batsman & Bolwer

In [17]:
ICC_bat = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
ICC_bat

In [18]:
bat_soup = BeautifulSoup(ICC_bat.content,'html.parser')

In [19]:
nam = bat_soup.find_all(['div'], class_ = "rankings-block__banner--name")
banner_name = []

for i in nam:
    banner_name.append(i.text.replace("\n",""))
banner_name

['Babar Azam',
 'Trent Boult',
 'Shakib Al Hasan',
 'Babar Azam',
 'Trent Boult',
 'Shakib Al Hasan']

In [20]:
nat = bat_soup.find_all(['div'], class_ = "rankings-block__banner--nationality")
natt = []

for i in nat:
    natt.append(i.text.replace("\n",""))
natt

['PAK873', 'NZ737', 'BAN400', 'PAK873', 'NZ737', 'BAN400']

In [21]:
rat = bat_soup.find_all(['div'], class_ = "rankings-block__banner--rating")
ratt = []

for i in rat:
    ratt.append(i.text.replace("\n",""))
ratt

['873', '737', '400', '873', '737', '400']

In [22]:
Batsman_name=[banner_name[0]]
Batsman_nation = [natt[0]]
Batsman_Rattings = [ratt[0]]
Bowler_name = [banner_name[1]]
Bowler_nation = [natt[1]]
Bowler_Rattings = [ratt[1]]

In [23]:
Nam = bat_soup.find_all(['td'], class_ = "table-body__cell name")
table_names = []
for i in Nam:
    table_names.append(i.text.replace("\n",""))
table_names = table_names[:18]
table_names

['Virat Kohli',
 'Rohit Sharma',
 'Quinton de Kock',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Rassie van der Dussen',
 'Fakhar Zaman',
 'Joe Root',
 'Josh Hazlewood',
 'Chris Woakes',
 'Matt Henry',
 'Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Mehedi Hasan',
 'Mitchell Starc',
 'Rashid Khan',
 'Andy McBrine']

In [24]:
nat1 = bat_soup.find_all(['span'], class_ = "table-body__logo-text")
Nat1 = []
for i in nat1:
    Nat1.append(i.text.replace("\n",""))
Nat1 = Nat1[:18]
Nat1

['IND',
 'IND',
 'SA',
 'AUS',
 'ENG',
 'AUS',
 'SA',
 'PAK',
 'ENG',
 'AUS',
 'ENG',
 'NZ',
 'AFG',
 'IND',
 'BAN',
 'AUS',
 'AFG',
 'IRE']

In [25]:
rat1 = bat_soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")
Rat1 = []
for i in rat1:
    Rat1.append(i.text.replace("\n",""))
Rat1 = Rat1[:18]
Rat1

['811',
 '791',
 '783',
 '779',
 '775',
 '762',
 '750',
 '741',
 '740',
 '709',
 '700',
 '691',
 '681',
 '679',
 '675',
 '652',
 '650',
 '646']

In [26]:
for i in table_names[0:9]:
    Batsman_name.append(i)
for i in Nat1[0:9]:
    Batsman_nation.append(i)
for i in Rat1[0:9]:
    Batsman_Rattings.append(i)    
for i in table_names[9:18]:
    Bowler_name.append(i)
for i in Nat1[9:18]:
    Bowler_nation.append(i)
for i in Rat1[9:18]:
    Bowler_Rattings.append(i)

In [27]:
import pandas as pd

In [28]:
ODI_TOP_10_Batsman = pd.DataFrame({"Batsman_name":Batsman_name, "Batsman_nation":Batsman_nation, "Batsman_Rattings": Batsman_Rattings})
ODI_TOP_10_Bowler = pd.DataFrame({"Bowler_name":Bowler_name, "Bowler_nation":Bowler_nation, "Bowler_Rattings": Bowler_Rattings})

In [29]:
ODI_TOP_10_Batsman

            Batsman_name Batsman_nation Batsman_Rattings
0             Babar Azam         PAK873              873
1            Virat Kohli            IND              811
2           Rohit Sharma            IND              791
3        Quinton de Kock             SA              783
4            Aaron Finch            AUS              779
5         Jonny Bairstow            ENG              775
6           David Warner            AUS              762
7  Rassie van der Dussen             SA              750
8           Fakhar Zaman            PAK              741
9               Joe Root            ENG              740

In [30]:
ODI_TOP_10_Bowler

        Bowler_name Bowler_nation Bowler_Rattings
0       Trent Boult         NZ737             737
1    Josh Hazlewood           AUS             709
2      Chris Woakes           ENG             700
3        Matt Henry            NZ             691
4  Mujeeb Ur Rahman           AFG             681
5    Jasprit Bumrah           IND             679
6      Mehedi Hasan           BAN             675
7    Mitchell Starc           AUS             652
8       Rashid Khan           AFG             650
9      Andy McBrine           IRE             646